dist/
deploy_versions/
.temp/
.rn_temp/
node_modules/
.DS_Store
src/test/server/upload
lib/
/.awcache
yarn-error.log
/.history
/es 
/lib 
/coverage 

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

# production
/docs-dist

# umi
.umi
.umi-production
.umi-test
.env.local

# ide
/.vscode
/.idea