html,
body {
  margin: 0;
  padding: 0;
}
.upload {
  text-align: center;
}
header {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}
main {
}
.upload-select-list {
  width: 80%;
  position: relative;
  left: 0;
  top: 0;
  margin: 0 auto;
}
.upload-select-list h2 {
  text-align: center;
}
.upload-select-list .upload-select-list-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.upload-select-list .upload-select-list-content .upload-select-item {
  width: 20%;
  white-space: nowrap;
  padding: 10px 5px;
  transition: 0.5s;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.upload-select-list
  .upload-select-list-content
  .upload-select-item:not(.active-select):hover {
  border-radius: 20%;
  border-color: rgba(255, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.active-select {
  border: 3px solid red;
  box-shadow: 0 0 10px red;
}
input {
  display: none;
}
.input {
  border: 1px dashed gray;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition:background-color 0.4s;
}
.input:hover{
  background-color:rgba(0, 0, 0, 0.1);
}
.progress {
  width: 200px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
}
main .progress::before {
  content: "进度: ";
  display: inline-block;
  position: absolute;
  left: -20%;
  top: 50%;
  transform: translateY(-50%);
}
main .progress p{
  width:10px;
  height:100%;
  background-color:green;
}
.button {
  border: 1px solid black;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  transition: background-color .8s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  margin-bottom: 20px;
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.button:active {
  box-shadow: 0 0 8px gray;
}